@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;

}

.btn {
    padding: 10px;
}

.hero {
    background-image: url(https://th.bing.com/th/id/OIP.Uvaq1x5zBD_Kq4_h_XoWggHaET?w=303&h=180&c=7&r=0&o=5&pid=1.7);
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    /*background-size: cover;*/
    z-index: 2;


}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(21, 20, 51, 0.4);
    z-index: -1;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: white;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
}

.team-member img {
    height: 125px;
    width: 125px;
    border-radius: 100px;

}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 1px solid;
}

.social-icons a:hover {
    color: var(--primary);
    background: transparent;
    border-color: var(--primary);

}

form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.04);
}

.footer-top {
    padding-bottom: 40px;
    padding: 40px;
    background-color: var(--dark);
    display: flex;
}

.footer-bottom {
    background-color: var(--dark);

}

.user-icon{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items:center ;
}